<nav class="side-bar">
  <ul>
    <li><a routerLink="/precio-nac" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Precios Bolsa Nacional</a></li>
    <li><a routerLink="/generacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Generación Real por Recurso</a></li>
    <li><a routerLink="/demanda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Demanda Comercial</a></li>
    <li><a routerLink="/embalses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nivel de Embalses</a></li>
  </ul>
</nav>